{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>My Personal Blog</h1>
    <div class="container">
        {% block page_title %}
        {% endblock %}
    </div>

    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>


</body>
</html>